@import 'main';
@import 'typography';

header {
	display: block;
	background: url(../img/bg2.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	height: auto !important;

	.hero-arrow {
		position: absolute;
		font-size: 3.4rem;
		color: darken($text-color, 20%);
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		transform: translateX(-50%);
		bottom: 20px;
	}

	.welcome {
		@include clearfix;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		color: $light-color;
		text-align: center;
		-webkit-transform: translateY(-50%) translateX(-50%);
		-moz-transform: translateY(-50%) translateX(-50%);
		transform: translateY(-50%) translateX(-50%);
		text-shadow: $text-shadow;
		.hero {
			font-size: 2.2rem;
			text-align: center;
		}
		.small-divider {
			height: 6px;
			width: 60px;
			position: relative;
			border: none;
			margin: 10px auto 20px;
			background: $accent-color;
		}
		.social-links {
			margin-top: 20px;
			li {
				padding: 0 10px;
				a {
					color: $strong-text;
					text-shadow: none;
				}
				display: inline-block;
				.genericon {
					font-size: 2.4rem;
					border: 2px solid $light-color;
					background: $light-color;
					padding: .3em;
					border-radius: 1em;
					transition: all .2s ease-in-out;
					&:hover {
						background: $accent-color;
						border-color: $accent-color;
						color: $light-color;
					}
				}
			}
		}
	}
	nav {
		position: fixed;
		box-sizing: border-box;
		width: 100%;
		padding: 1em;
		z-index: 2;
		transition: all .3s ease-in-out;
		#{headings(all)} {
			float: left;
			color: $light-color;
		}
		.logo-name {
		 	font-size: 1.6rem;
		}
		a {
			position: absolute;
			float: right;
			right: 10px;
			font-weight: bold;
			border: 2px solid $light-color;
			border-radius: 2em;
			padding: 0 10px;
			color: $light-color;
			line-height: 2em;
			-webkit-transform: translateY(-50%);
			-moz-transform: translateY(-50%);
			transform: translateY(-50%);
			transition: all .2s ease-in-out;
			&:hover {
				border-color: $accent-color;
				background: $accent-color;
				cursor: pointer;
			}
		}
	}
}
.services {
	background: darken($light-color, 3%);

	h2, h3 {
		padding: 1em 0 0;
		word-break: break-word;
	}

	.service-container {
		display: inline-block;
	}
}



.portfolio-container {
	.portfolio-item {
		position: relative;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		height: 340px;
		overflow: hidden;
		background-position: center center !important;
		background-repeat: no-repeat !important;
		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;

		&:nth-child(1){background: url(../img/port/dribbble.jpg);}
		&:nth-child(2){background: url(../img/port/travel-planner.jpg);}
		&:nth-child(3){background: url(../img/port/arho.jpg);}
		&:nth-child(4){background: url(../img/port/responsive.jpg);}
		&:nth-child(5){background: url(../img/port/mail.jpg);}
		&:nth-child(6){background: url(../img/port/spotify.jpg);}
		&:nth-child(7){background: url(../img/port/spotifyios7.jpg);}
		&:nth-child(8){background: url(../img/port/nasatlx.jpg);}
		&:nth-child(9){background: url(../img/port/mrdiabetes.jpg);}

		@media only screen and (min-device-width: 769px) {
			box-sizing: border-box;
			width: 33.333%;
			float: left;
		}
	}
}

.contact {
	@include clearfix;
	box-sizing: border-box;
	padding: 3em 10%;
	text-align: center;

	.button {
		display: inline-block;
		font-size: 2rem;
		line-height: 2em;
		margin-top: 1em;
		color: $light-color;
		background: $accent-color;
		padding: .4em 1.2em;
		border-radius: 2em;
		transition: all .3s ease-in-out;
		overflow: hidden;

		.genericon {
			position: absolute;
			font-size: 1.4em;
			line-height: 1.52em;
			-webkit-transform: translateX(-80px);
			-moz-transform: translateX(-80px);
			transform: translateX(-80px);
			opacity: 0;
			transition: all .3s ease-in-out;
		}

		&:hover {
			padding: .4em 1.2em .4em 2.6em;
			.genericon {
				opacity: 1;
				-webkit-transform: translateX(-40px);
				-moz-transform: translateX(-40px);
				transform: translateX(-40px);
			}
		}
	}
}


@media screen and (min-width: 551px) {
	body { font-size: 1.8rem; }
	h1 { font-size: 3.4rem; }
	h2 { font-size: 2.6rem; }

	header {
		.welcome .hero { font-size: 3.4rem; }
		nav .logo-name { font-size: 1.8rem ; }
	}

	footer { font-size: 1.8rem; }
}

@media screen and (min-width: 769px) {
	.wrapper { padding: 0 2em; }

	.service-container {
		box-sizing: border-box;
		width: 33.3%;
		padding: 0 .5em;
		float: left;
	}

	footer {
		font-size: 2rem;
		p {
			text-align: left;
			float: left;
		}
		.social-links {
			margin: 0;
			display: inline-block;
			float: right;
			font-size: 1.4em;
			line-height: 1.4rem;
			-webkit-transform: translateY(-20%);
			-moz-transform: translateY(-20%);
			transform: translateY(-20%);
		}
	}
}

@media screen and (min-width: 900px) {
	body { font-size: 2rem }
	h1 { font-size: 4rem;	}
	h2 { font-size: 3rem;	}

	header {
		.welcome .hero { font-size: 4rem; }
		nav .logo-name { font-size: 2.2rem; }
	}

	footer { font-size: 2rem; }
}

@media screen and (min-width: 1024px) {
	header {
		.welcome .hero { font-size: 5.6rem; }
	}
	header .welcome .social-links li .genericon {
		font-size: 3.2rem;
	}
	footer { p{ font-size: 2.2rem;} }
}

.bounce {
	-webkit-animation: bounce 4s infinite;
	animation: bounce 4s infinite;
}

@-webkit-keyframes bounce {
	0% { -webkit-transform: translateY(0) translateX(-50%); }
	20% { -webkit-transform: translateY(-3px) translateX(-50%); }
	50% { -webkit-transform: translateY(10px) translateX(-50%); }
	100% { -webkit-transform: translateY(0) translateX(-50%); }
}

@keyframes bounce {
	0% { transform: translateY(0) translateX(-50%); }
	20% { transform: translateY(-3px) translateX(-50%); }
	50% { transform: translateY(10px) translateX(-50%); }
	100% { transform: translateY(0) translateX(-50%); }
}
